#pizza-order{
  display: none;
}

/* .delivery-address{
  display: none;
} */

/* .pizza-total-class {
  cursor: pointer;
  color: #0088cc;
}

.pizza-total-class:hover {
  text-decoration: underline;
}   */


.icons{
  padding-left: 1%;
  }
  .icons:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.3); 
  }