#pizza-order{
  display: none;
}

.delivery-address{
  display: none;
}

/* .pizza-total-class {
  cursor: pointer;
  color: #0088cc;
}

.pizza-total-class:hover {
  text-decoration: underline;
}   */