.intro{
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)),url(/images/pizza-background.jpeg);
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro-text{
  color: white;
}





#pizza-order{
  display: none;
}

/* .delivery-address{
  display: none;
} */

/* .pizza-total-class {
  cursor: pointer;
  color: #0088cc;
}

.pizza-total-class:hover {
  text-decoration: underline;
}   */


.icons{
  padding-left: 1%;
  }
  .icons:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.3); 
  }